# LaTeX build artifacts
*.aux
*.bcf
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.pdf
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv

# TeX editor backups and temporary files
*.bak
*.tmp
figures/
.obsidian/
